extends layout

block content
	h1 Social Login Client-side Example
	div#login
		span.g-signin(
			data-width='wide',
			data-scope='https://www.googleapis.com/auth/plus.profile.emails.read',
			data-callback='onSignInCallback')
	pre#loginData
	img#profileImage
