doctype html
html
	head
		title Social Login Client-side Example
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='google-signin-clientid', content= googleClientId)
		meta(name='google-signin-cookiepolicy', content='single_host_origin')
		script(type='text/javascript', src='/javascripts/google-login.js')
	body
		block content
