doctype html
html(lang='en', ng-app='app')
	head
		title Social Login Client-side Example
		meta(charset='utf-8')
		meta(name='google-signin-clientid', content= googleClientId)
		meta(name='google-signin-cookiepolicy', content='single_host_origin')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:100,400')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='//apis.google.com/js/client:plusone.js')
		//script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		//script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-route.min.js')
		script(src='/javascripts/init.js')
		script(src='/javascripts/services/login.js')
		script(src='/javascripts/controllers/main.js')
		script(src='/javascripts/controllers/nav.js')
	body(ng-controller='mainController')
		include navbar
		.container
			block content
			.ng-view
