nav#navbar-top.navbar.navbar-default(role='navigation', ng-controller='navController')
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') Social Login
		#navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.working(ng-show='login.isBusy()')
					p.navbar-text
						i.fa.fa-circle-o-notch.fa-spin
						| &nbsp;Working ...
				li.signIn(ng-hide='login.isLoggedIn() || login.isBusy()')
					span#signInButton.g-signin(
						data-width='wide',
						data-scope='https://www.googleapis.com/auth/plus.profile.emails.read')
				li.profileName(ng-show='login.isLoggedIn()')
					p.navbar-text Marco Bettiolo
						a.text-right(ng-click='login.logout()') (Sign out)
				li.profileImage(ng-show='login.isLoggedIn()')
					img.img-circle(ng-src='{{ getProfileImageUrl() }}')
