h1 Social Login Client-side Example
p Status: {{ login.getStatus() }}
div(ng-show='login.isLoggedIn()')
	p Display name: {{ login.user.displayName }}
	p Emails:&nbsp;
		span(ng-repeat='email in login.user.emails') {{ email.value }}
	p User ID: {{ login.user.id }}
	p Domain: {{ login.user.domain }}
	p Organisations:&nbsp;
		span(ng-repeat='organisation in login.user.organizations') {{ organisation.name }} ({{ organisation.type }})
