body
	font-family: Roboto
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	// padding-top: 5em

.container
	// width: 970px !important

.navbar
	.profileName
		p
			font-size: 1.2em
			font-weight: 100
			margin-top: 0.5em
			margin-bottom: 0
			color: rgb(38, 38, 38)
			a
				font-weight: normal
				display: block
				font-size: 0.7em

